.hotgadgetmenu{
    display: flex;
    justify-content: center;

}

.HotGadgetLink{
        text-decoration: none;
        color: rgb(34, 31, 31);
        margin: 1vmax;
        padding: 0.5vmax 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.HotGadgetLink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}