.HotItemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 31%;
    transition: all 0.5s;
}


.HotItemCard:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
    cursor: pointer;
}

.HotItemCard > img {
    width: 70%;
    color: gray;
}

.HotItemCard > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HotItemCard > span{
    margin: -1vmax 0 1vmax 0 ;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}