.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    padding: 4.5vmax;
    background-color: rgb(45, 43, 43);
    color: white;
}

.footer > div {
    margin: 1vmax;
    display: flex;
    flex-direction: column;
}

.footer > div:nth-child(2){
    display: block;
}

.footer > div:nth-child(2) >a{
    display: inline-block;
}

.footer > div > a {
    color: rgb(217, 205, 205);
    text-decoration: none;
    font-size: 1.5vmax;
    margin: 0.6vmax 0;
}


.footer > div > a:hover {
    color: orangered;
}


.footer > div:last-child >div{

    width: 45%;
    margin: 1vmax 0 ;
    font-size: 1vmax;

}


.footer > div:last-child > button{
    background-color: rgb(45, 43, 43);
    width: 50%;
    border-color: aliceblue;
    color: white;
    padding: 0.6vmax 0;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.5s;
}

.footer > div:last-child > button:hover{
    background-color:orangered;

}


.footerBorder{
    display: flex;
    justify-content: center;
    background-color: rgb(45, 43, 43);
    color: white;
    
}

.footerBorder > div {
    border-top: 1px solid rgba(197,197,197, 0.186);
    width: 90vmax;
    margin: auto;
    padding: 2vmax;
    font-size: 1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}