.nav{
    z-index: 1000;
    padding: 1vmax;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(43,43,43,0.137);


 }


.navlinks{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
}

.logo{
    background-color: rgb(232, 199, 10);
    width: 58px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    right: 2vmax;


      
}

.searchBox{

    position: relative;
    left: 5vmax;

}

.searchBox >input{
    border: none;
    border-bottom: 1px solid rgba(128,128,128,0.76);
    width: 15vmax;
    color: rgb(62, 62, 62);
    font-weight: 100;
    outline: none;

}

.searchBox > svg{
    fill : rgb(62, 62, 62);
}

#logoImage
{
    transition: all 0.2s;
    transform: translateX(-57px);

}


#logoImage:hover
{
    transform: translateX(0);
}
